name: Pull Request Workflow

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # Ajusta según tus requisitos

      - name: Run linter
        run: |
          pylint your_code_directory  # Ajusta según tu estructura de directorios
